  <!-- 
  File: footer.ejs
  Name: Shota Ito
  Student#: 301103095
  Date: Oct 7th 2020
   -->  
  
  <!-- JS section -->
  <script src="jquery/dist/jquery.min.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="Scripts/app.js"></script>
</body>
</html>
